
/* style.css */

html {
    height: 100%;
  }
  
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    /* This centers our sketch horizontally. */
    justify-content: center;
  
    /* This centers our sketch vertically. */
    align-items: center;
  }

  h1{
    color: rgb(0, 0, 0);
}